<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bảng điều khiển</title>

    <!-- Link css -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/Index.css')}}">

</head>
<body>

    <!-- Main control frame -->
    <div class="main">
        <!-- Left panel -->
        <div class="left-panel">
            <div class="left-panel-row1">
                <div class="gear-level">
                    <span class="on">N</span>
                    <span class="off">R</span>
                    <span class="off">D</span>
                </div>
                <div id="gear" class="gear-level-current">N</div>
                <div id="distance" class="distance">--- Km</div>
            </div>
            <div class="left-panel-row2">
                <div class="brand-name">BKAR</div>
                <div id="voltage" class="voltage">12.6 V</div>
            </div>
            <div class="left-panel-row3">
                <img class="car-model" src="{{url_for('static', filename = 'images/car-top-view.png')}}" alt="BKAR">
                <!-- <img class="car-direct" src="{{url_for('static', filename = 'icons/car-icons/left-2.svg')}}" alt="BKAR"> -->
            </div>
            <div class="left-panel-row4">
                <img id='left-light' class="icon" src="{{url_for('static', filename = 'icons/car-icons/left-4.svg')}}" alt="Head Light" >
                <img id='head-light' class="icon" src="{{url_for('static', filename = 'icons/car-icons/headlight.svg')}}" alt="Head Light" >
                <img id='right-light' class="icon" src="{{url_for('static', filename = 'icons/car-icons/right-4.svg')}}" alt="Head Light" >
            </div>
        </div>

        <!-- Right panel -->
        <div class="right-panel" onload="showTime();">
            <div class="right-panel-top">
                <div id='ip-address' class="ip-address">192.168.---.---</div>
                <div id='delay' class="delay">-- ms</div>
                <div class="time">
                    <span id="MyClockDisplay">--:--:-- AM</span>
                </div>
            </div>
            <div class="main-frame">
                <div class="nav-bar">
                    <div class="home icon">
                        <input type="image" id="HomeButton" src="{{url_for('static', filename = 'icons/car-icons/home.svg')}}">
                    </div>
                    <div class="control icon">
                        <input type="image" id="ControllerButton" src="{{url_for('static', filename = 'icons/car-icons/control.svg')}}">
                    </div>
                    <div class="settings icon">
                        <input type="image" id="SettingsButton" src="{{url_for('static', filename = 'icons/car-icons/settings.svg')}}">
                    </div>
                    <div class="information icon">
                        <input type="image" id="InforButton" src="{{url_for('static', filename = 'icons/car-icons/information.svg')}}">
                    </div>
                </div>
                <div class="stream-screen">
                    <iframe id="ScreenFrame" src="/Welcome" scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer status notification -->
    <div class="footer">
        <img class="icon" src="{{url_for('static', filename = 'icons/traffic-signs/traffic-sign.svg')}}" alt="traffic-sign">
        <input type="image" class="icon" id="Self-Driving-mode" src="{{url_for('static', filename= 'icons/car-icons/self-driving-mode.svg')}}"/>
        <input type="image" class="icon" id="Remote-Control-mode" src="{{url_for('static', filename = 'icons/car-icons/remote-control-mode.svg')}}"/>
        <div class="motor-ratio">
            <span id="rateA" > 0.0 </span>
            <div class="unit">A</div>
        </div>
        <div class="car-speed">
            <span id="speed"> 00 </span>
            <div class="unit">cm/s</div>
        </div>
        <div class="motor-ratio">
            <span id="rateB"> 0.0 </span>
            <div class="unit">B</div>
        </div>
        <div class="sensor-data">
            <span id="x-axis"> 0.00 </span>
            <div class="unit">X-axis</div>
        </div>
        <div class="sensor-data">
            <span id="y-axis"> 0.00 </span>
            <div class="unit">Y-axis</div>
        </div><div class="sensor-data">
            <span id="z-axis"> 0.00 </span>
            <div class="unit">Z-axis</div>
        </div>
    </div>
    <!-- Link js file -->
    <script src="{{url_for('static', filename = 'js/Index.js')}}"></script>
</body>
</html>