html, body{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.main{
    display: grid;
    background-color: rgba(41, 41, 41, 0.795);
    grid-template-columns: 30% auto;
    grid-template-rows: 81vh;
  }

.item {
    color: white;
    font-size: 32px;
    text-align: center;
    padding: auto auto 0 auto;
}


/* Left panel */  
.left-panel{
    display: grid;
    grid-template-rows: 24% 7.5% 53% auto;
}    

.left-panel-row1{
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.left-panel-row2{
    display: grid;
    grid-template-columns: 50% auto;
}

.left-panel-row3{
    display: grid;
    align-items:center;
    justify-content: center;
}

.left-panel-row4{
    display: grid;
    grid-template-columns: auto auto auto;
}

.gear-level{
    font-weight: bold;
    text-align: center;
    font-size: 2vw;
    padding-top: 7vw;
}

.gear-level .on{
    color: rgb(255, 255, 255);
}

.gear-level .off{
    color: rgb(150, 147, 147);
}

.gear-level-current{
    color: white;
    font-size: 9vw;
    font-weight: bold;
    text-align: center;
    padding: 0.5vw;
}

.distance{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2vw;
    padding-top: 7vw;
}

.brand-name{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: left;
    padding-left: 1vw;
    border-top: 5px solid white;
}

.voltage{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: right;
    padding-right: 1vw;
    border-top: 5px solid white;
}

.car-model{
    height: 20vw;
    width: auto;
    margin: auto;
}

.car-direct{
    filter: invert();
    height: 200px;
    width: 400px;
    margin: auto;
}

.icon{
    filter: invert();
    height: 5vw;
    width: 5vw;
    margin: auto;
}

/* Right panel */
.right-panel{
    display: grid;
    grid-template-rows: 8% auto;
}

.right-panel-top{
    display: grid;   
    grid-template-columns: auto 25% auto;
}

.right-panel-top .ip-address{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: left;
    padding-top: auto;
}

.right-panel-top .delay{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    padding: auto;
}

.right-panel-top .time-and-temp{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: right;
    padding: auto;
}

.stream-screen{
    display: grid;
    background-color: rgb(0, 0, 0);
    border: 1vw solid white;
    border-radius: 5%;
}

/* Footer notification bar */
.footer{
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: 18vh;
}

.footer .icon{
    filter: invert();
    height: 5vw;
    width: auto;
    margin: auto;
}

.footer .motor-ratio{
    color: rgb(255, 255, 255);
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.footer .car-speed{
    color: rgb(0, 0, 0);
    font-size: 5vw;
    font-weight: bold;
    text-align: center;
    margin: auto;
    background-color: rgb(249, 250, 255);
    border-radius: 50%;
    width: 10vw;
    height: 10vw; 
}

.footer .car-speed .unit{
    color: black;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.footer .unit{
    color: white;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.footer .sensor-data{
    color: white;
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    margin: auto;
}