<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Config Connection</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/Connection.css')}}">
</head>

<body>
  <div class="login-box">
    <h1>Kết nối tới BKAR</h1>
    <form>
      <div class="user-box">
        <input type="text" name="IP" required="">
        <label>Địa chỉ IP của BKAR</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Kết nối
      </a>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        DEMO
      </a>
    </form>
  </div>
</body>
</html>
