<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GamePad/Joystick</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/normalize.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/Controller.css')}}">
</head>

<body>
  <!-- partial:index.partial.html -->
  <h1 id="device-name" onload="GamepadTitle();">GamePad/Joystick Device</h1>
  <p>Chỉ được kết nối tới một thiết bị Gamepad duy nhất</p>
  <div id="pad"></div>
  <!-- partial -->
  <script src="{{url_for('static', filename = 'js/Controller.js')}}"></script>
</body>
</html>